@header-size: 92px;

div {
    transition: box-shadow 300ms ease-out;
}

div:hover {
    // background: rgba(0, 0, 0, 0.3);
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    -webkit-user-select: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, sans-serif;
    background-image: url('../../app/img/bg.png');

    .overlay {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.6);
        z-index: -99;
    }
}

header, .side, footer {
    background: rgba(255, 255, 255, 0.9);
}

header {
    height: @header-size;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px #aaa solid;
    z-index: 3;

    .drag {
        display: none;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255, 0, 0, 0.4);
        transition: height 100ms ease-out;
        height: 0;
        z-index: 99;
    }

    &:hover .drag {
        height: 20px;
    }

    .logo {
        width: 100px;
        height: 40px;
        float: left;
    }

    .title {
        width: 141px;
        height: @header-size;
        float: left;
        font-size: 29px;
        line-height: @header-size;
        -webkit-app-region: drag;
        cursor: all-scroll;
    }

    .main-menu {
        width: 850px;
        float: left;
        line-height: @header-size;
        height: @header-size;
        ul {
            display: block;
            margin: 0 auto;
            width: 720px;
            height: @header-size;
            padding: 0;
            line-height: @header-size;
            li {
                display: block;
                float: left;
                width: 180px;
                text-align: center;
                font-size: 25px;
                line-height: @header-size;
                height: @header-size;

                &:hover a, &.active a {
                    background: rgba(0, 0, 0, 0.1);
                }


                a {
                    color: black;
                    display: block;
                    &:active {
                        border-top: 1px solid red;
                        margin-top: -1px;
                    }
                }
            }
        }
    }
}

.side {
    position: fixed;
    top: 90px;
    bottom: 90px;
    width: 230px;
    left: 0;
    z-index: 1;
    box-shadow: 2px 0 6px #aaa;
    padding-left: 40px;

    .menu-block {
        margin-top: 40px;
        .menu-title {
            text-transform: uppercase;
            // text-align: center;
        }

        ul {
            list-style: none;
            padding-left: 0;
            li {
                width: 170px;
                height: 32px;
                line-height: 20px;
                &:hover a, &.active a {
                    background: rgba(0, 0, 0, 0.2);
                }
                a {
                    padding: 6px;
                    display: block;
                    color: black;
                    border-radius: 12px;
                    // text-align: center;
                }
            }
        }
    }
}

.main {
    width: 870px;
    position: absolute;
    right: 0;
    top: @header-size;
    height: 421px;
    padding: 16px 30px;
}

footer {
    height: 30px;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
    border-top: 1px #aaa solid;
    z-index: 3;

    .copy {
        width: 190px;
        text-align: center;
        float: left;
    }

    .revision {
        width: 190px;
        text-align: center;
        float: right;
    }

    .update {
        width: 190px;
        float: right;
        height: 30px;
        text-align: center;
    }
}

a {
    text-decoration: none;
}

.container {
    text-align: center;
}

.subtitle {
    color: gray;
}
